.cvEvent {
  text-align: left;
  width: 505px;
  height: 300px;
  background-color: rgba(124, 125, 125, 0.125);
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(23, 68, 77);
}
